<h1>Browse your favorite recipies</h1>


<form class="search" action="/" method="GET">
  <input type="text" class="search" name="search" placeholder="Food...">
  <input type="text" name="from" class="country" placeholder="Nationality...">
  <input type="number" name="to" class="difficulty" placeholder="Difficulty level...">
  <input type="submit" value="search">
</form>


<div class="recipies">
  {{#each recipies}}
  <div class="recipe">
    <div class="imgWidth">
      <img class="food-recipe" src="{{imageUrl}}" alt="{{name}}">
    </div>
    <div class="text">
      <p class="name">{{name}}</p>
      <p><span>Difficulty level:</span>{{difficultyLevel}}</p>
      <a class="btn" href="/recipies/details/{{_id}}">Details</a>
    </div>
  </div>
  {{/each}}
</div>