<main>

    <!-- In case of error, display the following div--><!--

            <div class="error-box">
                <p>Show each error in a separate paragraph</p>
            </div>

            -->

    <!-- Details Page -->
    <section id="catalog-section">

        <h1 class="item">
            {{data.title}}
        </h1>
        <div class="item padded">

            <div class="layout right large">

                <div class="col">
                    <img src="{{data.image}}" class="img-large">
                </div>

                <div class="content pad-med">

                    <p>In category: <strong>{{data.category}}</strong></p>
                    <p>{{data.desciption}}</p>

                    <div class="align-center">
                        <div>
                            Current price: $<strong>{{data.price}}</strong>
                        </div>
                        {{#if isAuthenticated}}
                        <!-- If current user can place a bid -->
                        {{#if data.isBitted}}
                        <div>
                            You are currently the <strong>highest bidder</strong> for this auction
                        </div>
                        {{else}}
                        <form class="vertical" method="post" action="/auction/{{data._id}}/bid">
                            <label><span>Bid amount</span><input type="number" name="bidBValue"></label>
                            <input class="action" type="submit" value="Place bid">
                        </form>

                        <!-- If current user is the bidder -->


                        {{/if}}
                        {{/if}}
                    </div>

                </div>
            </div>

            <footer>Listed by {{data.author.username}} {{ data.author.lastname }}</footer>
        </div>

    </section>

</main>